:root {
  /*teal is primary color */
  --primary-color: #5cc7b2;
  --light-primary-color: #ccfbf1;
  --dark-primary-color: #14b8a6;
  --secondary-color: #e5e5e5;
  --action-color: #fdba74;
  --dark-gray-color: #9ca3af;
  --light-gray-color: #e5e7eb;
  --black-color: #1f1f27;
  --white-color: #fff;
  --bg-color-primary: #fcfcfc;

  --red-color: #dc2626;
  --light-rose-color: #ffe4e6;
  --yellow-color: #fbbf24;
  --light-lime-color: #fefce8;
  --bright-yellow-color: #ffff00;
  --blue-color: #38bdf8;
  --light-blue-color: #e0f2fe;
  --dark-blue-color: #2057a8;
  --green-color: #4ade80;
  --light-green-color: #dcfce7;

  --font-1: 0.5rem;
  --font-2: 0.75rem;
  --font-3: 0.85rem;
  --font-4: 1rem;
  --font-5: 1.25rem;
  --font-6: 1.5rem;
  --font-7: 1.75rem;
  --font-8: 2rem;
}

/*** Font size util classes ***/

.font-1 {
  font-size: var(--font-1);
}

.font-2 {
  font-size: var(--font-2);
}

.font-3 {
  font-size: var(--font-3);
}

.font-4 {
  font-size: var(--font-4);
}

.font-5 {
  font-size: var(--font-5);
}

.font-6 {
  font-size: var(--font-6);
}

.font-7 {
  font-size: var(--font-7);
}

.font-8 {
  font-size: var(--font-8);
}

.font-bold {
  font-weight: bold;
}

/*** Border Radius util classes ***/

.border-radius-sm {
  border-radius: 5px;
}

.border-radius-m {
  border-radius: 10px;
}

.border-radius-l {
  border-radius: 15px;
}

.border-radius-round {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

/*** Flex util classes ***/
fx {
  display: flex;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.fx-col {
  display: flex;
  flex-direction: column;
}

.fx-col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.fx-ai-center {
  align-items: center;
}

.fx-ji-center {
  justify-items: center;
}

.fx-jc-center {
  justify-content: center;
}

.fx-ac-center {
  align-content: center;
}

.fx-jc-sa {
  justify-content: space-around;
}

.fx-jc-sb {
  justify-content: space-between;
}

.fx-jc-se {
  justify-content: space-evenly;
}

.fx-ac-sa {
  align-content: space-around;
}

.fx-ac-sb {
  align-content: space-between;
}

.fx-ac-se {
  align-content: space-evenly;
}

.fx-wrap {
  flex-wrap: wrap;
}

.fx-wrap-rev {
  flex-wrap: wrap-reverse;
}

.fx-wrap-np {
  flex-wrap: nowrap;
}

.fx-jc-fs {
  justify-content: flex-start;
}

.fx-jc-fe {
  justify-content: flex-end;
}

.fx-ai-fs {
  align-items: flex-start;
}

.fx-ai-fe {
  align-items: flex-end;
}

.fx-ai-bl {
  align-items: baseline;
}

.fx-ai-st {
  align-items: stretch;
}

.fx-grow {
  flex-grow: 1;
}

/* ?POSITION */

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-fix {
  position: fixed;
}

.p-stick {
  position: sticky;
}

.p-static {
  position: static;
}

.top {
  top: 0;
}

.btm {
  bottom: 0;
}

.lft {
  left: 0;
}

.rgt {
  right: 0;
}

.top-rgt {
  top: 0;
  right: 0;
}

.top-lft {
  top: 0;
  left: 0;
}

.btm-rgt {
  bottom: 0;
  right: 0;
}

.btm-lft {
  bottom: 0;
  left: 0;
}

.top-btm-lft {
  top: 0;
  bottom: 0;
  left: 0;
}

.top-btm-rgt {
  top: 0;
  bottom: 0;
  right: 0;
}

.top-btm-lft-rgt {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
