:root {
  /*teal is primary color */
  --primary-color: #5cc7b2;
  --light-primary-color: #ccfbf1;
  --dark-primary-color: #14b8a6;
  --secondary-color: #e5e5e5;
  --action-color: #fdba74;
  --dark-gray-color: #9ca3af;
  --light-gray-color: #e5e7eb;
  --black-color: #1f1f27;
  --white-color: #fff;
  --bg-color-primary: #fcfcfc;

  --red-color: #dc2626;
  --light-rose-color: #ffe4e6;
  --yellow-color: #fbbf24;
  --light-lime-color: #fefce8;
  --bright-yellow-color: #fdd835;
  --blue-color: #38bdf8;
  --light-blue-color: #e0f2fe;
  --dark-blue-color: #2057a8;
  --green-color: #4ade80;
  --light-green-color: #dcfce7;

  --font-1: 0.5rem;
  --font-2: 0.75rem;
  --font-3: 0.85rem;
  --font-4: 1rem;
  --font-5: 1.25rem;
  --font-6: 1.5rem;
  --font-7: 1.75rem;
  --font-8: 2rem;
}

/*** Font size and weight util classes ***/

.fs-0-5 {
  font-size: 0.5rem;
}

.fs-0-8 {
  font-size: 0.8rem;
}

.fs-0-9 {
  font-size: 0.9rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-1-25 {
  font-size: 1.25rem;
}

.fs-1-5 {
  font-size: 1.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-2-5 {
  font-size: 2.5rem;
}

.fs-3 {
  font-size: 3rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.font-bold {
  font-weight: bold;
}

/*** Border Radius util classes ***/

.border-radius-sm {
  border-radius: 5px;
}

.border-radius-m {
  border-radius: 10px;
}

.border-radius-l {
  border-radius: 15px;
}

.border-radius-round {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

/*** Flex util classes ***/
.fx {
  display: flex;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.fx-col {
  display: flex;
  flex-direction: column;
}

.fx-col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.fx-ai-center {
  align-items: center;
}

.fx-ji-center {
  justify-items: center;
}

.fx-jc-center {
  justify-content: center;
}

.fx-ac-center {
  align-content: center;
}

.fx-jc-sa {
  justify-content: space-around;
}

.fx-jc-sb {
  justify-content: space-between;
}

.fx-jc-se {
  justify-content: space-evenly;
}

.fx-ac-sa {
  align-content: space-around;
}

.fx-ac-sb {
  align-content: space-between;
}

.fx-ac-se {
  align-content: space-evenly;
}

.fx-wrap {
  flex-wrap: wrap;
}

.fx-wrap-rev {
  flex-wrap: wrap-reverse;
}

.fx-wrap-np {
  flex-wrap: nowrap;
}

.fx-jc-fs {
  justify-content: flex-start;
}

.fx-jc-fe {
  justify-content: flex-end;
}

.fx-ai-fs {
  align-items: flex-start;
}

.fx-ai-fe {
  align-items: flex-end;
}

.fx-ai-bl {
  align-items: baseline;
}

.fx-ai-st {
  align-items: stretch;
}

.fx-grow {
  flex-grow: 1;
}

/* POSITION util classes */

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-fix {
  position: fixed;
}

.p-stick {
  position: sticky;
}

.p-static {
  position: static;
}

.top {
  top: 0;
}

.btm {
  bottom: 0;
}

.lft {
  left: 0;
}

.rgt {
  right: 0;
}

.top-rgt {
  top: 0;
  right: 0;
}

.top-lft {
  top: 0;
  left: 0;
}

.btm-rgt {
  bottom: 0;
  right: 0;
}

.btm-lft {
  bottom: 0;
  left: 0;
}

.top-btm-lft {
  top: 0;
  bottom: 0;
  left: 0;
}

.top-btm-rgt {
  top: 0;
  bottom: 0;
  right: 0;
}

.top-btm-lft-rgt {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*** Padding util classes ***/

.p-0 {
  padding: 0rem;
}

.p-0-5 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-1-5 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-2-5 {
  padding: 2.5rem;
}

.p-3 {
  padding: 3rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.px-0-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-2-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.py-0-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-1-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-2-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-0-5 {
  padding-top: 0.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-1-5 {
  padding-top: 1.5rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-2-5 {
  padding-top: 2.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-0-5 {
  padding-right: 0.5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-1-5 {
  padding-right: 1.5rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-2-5 {
  padding-right: 2.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-0-5 {
  padding-left: 0.5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-1-5 {
  padding-left: 1.5rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-2-5 {
  padding-left: 2.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-0-5 {
  padding-bottom: 0.5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-1-5 {
  padding-bottom: 1.5rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-2-5 {
  padding-bottom: 2.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

/*** Margin util classes ***/

.m-0 {
  margin: 0rem;
}

.m-0-5 {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-1-5 {
  margin: 1.5rem;
}

.m-2 {
  margin: 2rem;
}

.m-2-5 {
  margin: 2.5rem;
}

.m-3 {
  margin: 3rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.mx-0-5 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-1-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-2-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.my-0-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-1-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-2-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-0-5 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2-5 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-0-5 {
  margin-right: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-1-5 {
  margin-right: 1.5rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-2-5 {
  margin-right: 2.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-0-5 {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-1-5 {
  margin-left: 1.5rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-2-5 {
  margin-left: 2.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-0-5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-2-5 {
  margin-bottom: 2.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
