:root {
  /*teal is primary color */
  --primary-color: #5cc7b2;
  --light-primary-color: #ccfbf1;
  --dark-primary-color: #5eead4;
  --secondary-color: #e5e5e5;
  --action-color: #fdba74;
  --dark-gray-color: #9ca3af;
  --light-gray-color: #e5e7eb;
  --black-color: #1f1f27;
  --white-color: #fff;
  --bg-color-primary: #fcfcfc;

  --red-color: #dc2626;
  --light-rose-color: #ffe4e6;
  --yellow-color: #fbbf24;
  --light-lime-color: #fefce8;
  --blue-color: #38bdf8;
  --light-blue-color: #e0f2fe;
  --green-color: #4ade80;
  --light-green-color: #dcfce7;

  --font-1: 0.5rem;
  --font-2: 0.75rem;
  --font-3: 0.85rem;
  --font-4: 1rem;
  --font-5: 1.25rem;
  --font-6: 1.5rem;
  --font-7: 1.75rem;
  --font-8: 2rem;
}

/*** Font size util classes ***/

.font-1 {
  font-size: var(--font-1);
}

.font-2 {
  font-size: var(--font-2);
}

.font-3 {
  font-size: var(--font-3);
}

.font-4 {
  font-size: var(--font-4);
}

.font-5 {
  font-size: var(--font-5);
}

.font-6 {
  font-size: var(--font-6);
}

.font-7 {
  font-size: var(--font-7);
}

.font-8 {
  font-size: var(--font-8);
}

.font-bold {
  font-weight: bold;
}

/*** Border Radius util classes ***/

.border-radius-sm {
  border-radius: 5px;
}

.border-radius-m {
  border-radius: 10px;
}

.border-radius-l {
  border-radius: 15px;
}

.border-radius-round {
  border-radius: 50%;
}
