@import url("./components/default.css");

/*** Styles for home Page ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-rows: 5rem 1fr 7rem;
  grid-template-columns: 0.5fr 3fr;
}

.header-bar {
  grid-area: header;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bar .header-item {
  display: inline-flex;
  align-items: center;
}

.header-bar .header-item .header-logo img {
  max-width: 5rem;
  height: auto;
}

.header-bar .header-item .header-name {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1rem;
}

.header-bar .header-item .header-icons {
  color: #fff;
  min-width: 3rem;
  height: auto;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 1rem;
}

.header-link,
.footer-link {
  text-decoration: none;
  color: inherit;
}

.side-bar {
  grid-area: sidebar;
  background-color: #fff;
  box-shadow: 0 0 10px var(--light-gray-color);
}

.side-bar .nav-links {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  letter-spacing: 1px;
}

.side-bar .nav-links .nav-link-item {
  text-decoration: none;
  color: var(--black-color);
  padding: 10px;
  margin: 1rem;
  font-size: 1.2rem;
}

.side-bar .nav-links .nav-link-item.active {
  font-weight: 600;
}

.side-bar .nav-links .nav-link-item:hover {
  background-color: var(--light-primary-color);
  border-radius: 10px;
}

.main-body {
  grid-area: main;
  box-shadow: 0 0 9px 5px var(--light-gray-color);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
}

.main-body .main-heading {
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  font-size: 1.7rem;
}
.main-body .para-text {
  letter-spacing: 0.5px;
}
.main-body .inst-guide {
  margin-top: 5rem;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray-color);
}

.footer .footer-item {
  display: inline-flex;
}

.footer .footer-item.footer-copy {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.footer .footer-item .footer-icons {
  min-width: 1rem;
  height: auto;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }
  .side-bar {
    display: none;
  }
}

/*** Styles for Avatar and Badge Documentation ***/

.comp-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.content-container {
  display: flex;
  align-items: baseline;
  gap: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px var(--light-gray-color);
  background-color: #f8fafc;
  padding: 1rem;
  margin: 1rem 0;
  width: 70rem;
}

.code-container iframe {
  width: 100%;
  min-height: 15rem;
  margin: 1rem 0;
}

.display-flex-column {
  flex-direction: column;
}
