<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="../../css/winsome.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header-bar">
        <div class="header-item">
          <div class="header-name">WINSOME-UI</div>
        </div>
        <div class="header-item">
          <div class="header-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="header-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="header-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </header>
      <div class="side-bar">
        <nav class="nav-links">
          <a href="/index.html" class="nav-link-item">Installation</a>
          <a href="/components/Avatar/avatar.html" class="nav-link-item">
            Avatar
          </a>
          <a href="/components/Alert/alert.html" class="nav-link-item">
            Alert
          </a>
          <a href="/components/Badge/badge.html" class="nav-link-item">
            Badge
          </a>
          <a href="/components/Button/button.html" class="nav-link-item">
            Button
          </a>
          <a href="/components/Card/card.html" class="nav-link-item">Card</a>
          <a href="/components/Image/image.html" class="nav-link-item active">
            Image
          </a>
          <a href="/components/Input/input.html" class="nav-link-item">Input</a>
        </nav>
      </div>
      <main class="main-body">
        <h2>Image</h2>
        <p class="text-medium">
          Responsive Images work well on devices with widely different screen
          sizes and resolutions.
        </p>
        <div class="comp-wrapper">
          <h3>Responsive Image</h3>
          <p class="text-regular">
            To make your image responsive you need to add below class in your
            img tag.
          </p>
          <div class="content-container">
            <img
              src="https://picsum.photos/seed/picsum/800/400"
              alt="img"
              class="responsive-img"
            />
          </div>
          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/U0OEesbpi2tlGidR5vJr"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
          </div>
        </div>
        <div class="comp-wrapper">
          <h3>Round Image</h3>
          <p class="text-regular">
            Rounded images are circular in shape, to make your images round, you
            need to add below class.
          </p>
          <div class="content-container">
            <img
              src="https://i.picsum.photos/id/849/200/200.jpg?hmac=LwsdGn2endKvoLY10FPqtfqKYCVMbPEp5J6S_tUN1Yg"
              alt="img"
              class="rounded-img"
            />
          </div>
          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/Q3CTEbjy6EBuJSDt27ox"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-item footer-copy">Copyright © 2022 WINSOME-UI.</div>
        <div class="footer-item">
          <div class="footer-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="footer-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="footer-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
