<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="../../css/winsome.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header-bar">
        <a href="../../index.html" class="header-item">
          <img class="header-logo" src="../../assets/logo.png" alt="logo" />
          <div class="header-name">WINSOME-UI</div>
        </a>
        <div class="header-item">
          <div class="header-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="header-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="header-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </header>
      <div class="side-bar">
        <nav class="nav-links">
          <a href="../main.html" class="nav-link-item">Installation</a>
          <a href="/components/Avatar/avatar.html" class="nav-link-item">
            Avatar
          </a>
          <a href="/components/Alert/alert.html" class="nav-link-item">
            Alert
          </a>
          <a href="/components/Badge/badge.html" class="nav-link-item">
            Badge
          </a>
          <a href="/components/Button/button.html" class="nav-link-item">
            Button
          </a>
          <a href="/components/Cards/cards.html" class="nav-link-item">Cards</a>
          <a href="/components/Grid/grid.html" class="nav-link-item active">
            Grid
          </a>
          <a href="/components/Image/image.html" class="nav-link-item">
            Image
          </a>
          <a href="/components/Input/input.html" class="nav-link-item">Input</a>

          <a href="/components/Lists/lists.html" class="nav-link-item">
            Lists
          </a>
          <a href="/components/Modal/modal.html" class="nav-link-item">
            Modal
          </a>

          <a
            href="/components/Navigation/navigation.html"
            class="nav-link-item"
          >
            Navigation
          </a>
          <a href="/components/Rating/rating.html" class="nav-link-item">
            Rating
          </a>
          <a href="/components/Slider/slider.html" class="nav-link-item">
            Slider
          </a>
          <a href="/components/Snackbar/snackbar.html" class="nav-link-item">
            Snackbar
          </a>
          <a
            href="/components/Typography/typography.html"
            class="nav-link-item"
          >
            Typography
          </a>
        </nav>
      </div>
      <main class="main-body">
        <h2>Grid</h2>
        <p class="text-medium">
          CSS Grid Layout excels at dividing a page into major regions or
          defining the relationship in terms of size, position, and layer
        </p>
        <div class="comp-wrapper">
          <h3>Gird-2</h3>
          <p class="text-regular">
            To include this in your project, you need to add "grid-two" class as
            listed in below code.
          </p>
          <div class="content-container display-flex-column grid-body">
            <div class="grid-two">
              <div class="card ecomm-card">
                <div class="card-head">
                  <div class="image-badge-div">
                    <img
                      src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                      alt="card-pic"
                      class="product-image"
                    />
                    <span class="new-badge primary-btn-solid">New</span>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-title">Flower Pot</div>
                  <button class="like-icon">
                    <span>
                      <i class="fas fa-heart"></i>
                    </span>
                  </button>
                  <div class="card-text">Gardening Flower Pots</div>
                  <div class="card-price">
                    <span class="price-now">Rs. 769</span>
                    <span class="price-before">Rs. 855</span>
                    <span class="discount">10%</span>
                  </div>
                  <button class="btn primary-btn-solid add-">
                    Add to cart
                  </button>
                </div>
              </div>
              <div class="card ecomm-card">
                <div class="card-head">
                  <div class="image-badge-div">
                    <img
                      src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                      alt="card-pic"
                      class="product-image"
                    />
                    <span class="new-badge primary-btn-solid">New</span>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-title">Flower Pot</div>
                  <button class="like-icon">
                    <span>
                      <i class="fas fa-heart"></i>
                    </span>
                  </button>
                  <div class="card-text">Gardening Flower Pots</div>
                  <div class="card-price">
                    <span class="price-now">Rs. 769</span>
                    <span class="price-before">Rs. 855</span>
                    <span class="discount">10%</span>
                  </div>
                  <button class="btn primary-btn-solid add-">
                    Add to cart
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/pYNtFGaNlZWkJ2i9te3n"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
          </div>
        </div>
        <div class="comp-wrapper">
          <h3>Gird-3</h3>
          <p class="text-regular">
            To include this in your project, you need to add "grid-three" class
            as listed in below code.
          </p>
          <div class="content-container display-flex-column grid-body">
            <div class="grid-three">
              <div class="card ecomm-card">
                <div class="card-head">
                  <div class="image-badge-div">
                    <img
                      src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                      alt="card-pic"
                      class="product-image"
                    />
                    <span class="new-badge primary-btn-solid">New</span>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-title">Flower Pot</div>
                  <button class="like-icon">
                    <span>
                      <i class="fas fa-heart"></i>
                    </span>
                  </button>
                  <div class="card-text">Gardening Flower Pots</div>
                  <div class="card-price">
                    <span class="price-now">Rs. 769</span>
                    <span class="price-before">Rs. 855</span>
                    <span class="discount">10%</span>
                  </div>
                  <button class="btn primary-btn-solid add-">
                    Add to cart
                  </button>
                </div>
              </div>
              <div class="card ecomm-card">
                <div class="card-head">
                  <div class="image-badge-div">
                    <img
                      src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                      alt="card-pic"
                      class="product-image"
                    />
                    <span class="new-badge primary-btn-solid">New</span>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-title">Flower Pot</div>
                  <button class="like-icon">
                    <span>
                      <i class="fas fa-heart"></i>
                    </span>
                  </button>
                  <div class="card-text">Gardening Flower Pots</div>
                  <div class="card-price">
                    <span class="price-now">Rs. 769</span>
                    <span class="price-before">Rs. 855</span>
                    <span class="discount">10%</span>
                  </div>
                  <button class="btn primary-btn-solid add-">
                    Add to cart
                  </button>
                </div>
              </div>
              <div class="card ecomm-card">
                <div class="card-head">
                  <div class="image-badge-div">
                    <img
                      src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                      alt="card-pic"
                      class="product-image"
                    />
                    <span class="new-badge primary-btn-solid">New</span>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-title">Flower Pot</div>
                  <button class="like-icon">
                    <span>
                      <i class="fas fa-heart"></i>
                    </span>
                  </button>
                  <div class="card-text">Gardening Flower Pots</div>
                  <div class="card-price">
                    <span class="price-now">Rs. 769</span>
                    <span class="price-before">Rs. 855</span>
                    <span class="discount">10%</span>
                  </div>
                  <button class="btn primary-btn-solid add-">
                    Add to cart
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/mggEcygQnV1FTP1m3Ky0"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-item footer-copy">Copyright © 2022 WINSOME-UI.</div>
        <div class="footer-item">
          <div class="footer-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="footer-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="footer-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
