<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="../../css/winsome.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header-bar">
        <a href="../../index.html" class="header-item">
          <img class="header-logo" src="../../assets/logo.png" alt="logo" />
          <div class="header-name">WINSOME-UI</div>
        </a>
        <div class="header-item">
          <div class="header-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="header-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="header-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </header>
      <div class="side-bar">
        <nav class="nav-links">
          <a href="/index.html" class="nav-link-item">Installation</a>
          <a href="/components/Avatar/avatar.html" class="nav-link-item">
            Avatar
          </a>
          <a href="/components/Alert/alert.html" class="nav-link-item">
            Alert
          </a>
          <a href="/components/Badge/badge.html" class="nav-link-item">
            Badge
          </a>
          <a href="/components/Button/button.html" class="nav-link-item">
            Button
          </a>
          <a href="/components/Cards/cards.html" class="nav-link-item">Cards</a>
          <a href="/components/Image/image.html" class="nav-link-item">
            Image
          </a>
          <a href="/components/Input/input.html" class="nav-link-item active"
            >Input</a
          >

          <a href="/components/Lists/lists.html" class="nav-link-item">
            Lists
          </a>
          <a href="/components/Modal/modal.html" class="nav-link-item">
            Modal
          </a>

          <a
            href="/components/Typography/typography.html"
            class="nav-link-item"
          >
            Typography
          </a>
        </nav>
      </div>
      <main class="main-body">
        <h2>Input TextBox</h2>
        <p class="text-medium">
          Input TextBox are used to take the input from a user.
        </p>
        <div class="comp-wrapper">
          <h3>Text box</h3>
          <p class="text-regular"></p>
          <div class="content-container">
            <div class="input-group">
              <label class="input-label">Enter Name</label>
              <input type="text" class="input-txt" />
            </div>
          </div>

          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/mQ32MJox55P08nrpC0t9"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
          </div>
        </div>
        <div class="comp-wrapper">
          <h3>Text box with validation</h3>
          <div class="content-container display-flex-column">
            <div class="input-group">
              <label class="input-label">Username *</label>
              <input type="text" class="input-txt err-input" />
              <p class="err-msg">Invalid Username!</p>
            </div>

            <div class="input-group">
              <label class="input-label">Password *</label>
              <input type="password" class="input-txt err-input" />
              <p class="err-msg">Wrong Password! Try again.</p>
            </div>
          </div>
          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/rU7rJAYPI3KwAv1m5iEB"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe
            ></code>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-item footer-copy">Copyright © 2022 WINSOME-UI.</div>
        <div class="footer-item">
          <div class="footer-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="footer-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="footer-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
