<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="../../css/winsome.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header-bar">
        <a href="../../index.html" class="header-item">
          <img class="header-logo" src="../../assets/logo.png" alt="logo" />
          <div class="header-name">WINSOME-UI</div>
        </a>
        <div class="header-item">
          <div class="header-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="header-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="header-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </header>
      <div class="side-bar">
        <nav class="nav-links">
          <a href="../main.html" class="nav-link-item">Installation</a>
          <a href="/components/Avatar/avatar.html" class="nav-link-item">
            Avatar
          </a>
          <a href="/components/Alert/alert.html" class="nav-link-item">
            Alert
          </a>
          <a href="/components/Badge/badge.html" class="nav-link-item">
            Badge
          </a>
          <a href="/components/Button/button.html" class="nav-link-item active">
            Button
          </a>
          <a href="/components/Cards/cards.html" class="nav-link-item">Cards</a>
          <a href="/components/Grid/grid.html" class="nav-link-item"> Grid </a>
          <a href="/components/Image/image.html" class="nav-link-item">
            Image
          </a>
          <a href="/components/Input/input.html" class="nav-link-item">Input</a>

          <a href="/components/Lists/lists.html" class="nav-link-item">
            Lists
          </a>
          <a href="/components/Modal/modal.html" class="nav-link-item">
            Modal
          </a>

          <a
            href="/components/Navigation/navigation.html"
            class="nav-link-item"
          >
            Navigation
          </a>
          <a href="/components/Rating/rating.html" class="nav-link-item">
            Rating
          </a>
          <a href="/components/Slider/slider.html" class="nav-link-item">
            Slider
          </a>
          <a href="/components/Snackbar/snackbar.html" class="nav-link-item">
            Snackbar
          </a>
          <a
            href="/components/Typography/typography.html"
            class="nav-link-item"
          >
            Typography
          </a>
        </nav>
      </div>
      <main class="main-body">
        <h2>Buttons</h2>
        <p class="text-medium">
          Buttons allow users to take actions, and make choices, with a single
          tap. They allow the user to interact with the application.
        </p>
        <div class="comp-wrapper">
          <h3>Primary Buttons</h3>
          <div class="content-container">
            <button class="btn primary-btn-solid">Primary Solid</button>
            <button class="btn primary-btn-outline">
              Primary Outline
            </button>
          </div>
          <div class="code-container">
            <code>
                <iframe
                src="https://carbon.now.sh/embed/yI06JUFrFtooyhyuc43o"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
                </code>
          </div>
        </div>
        <div class="comp-wrapper">
          <h3>Link Button</h3>
          <div class="content-container">
            <a class="link-btn">Read More</a>
            <a class="link-btn">Click Here</a>
          </div>
          <div class="code-container">
            <code>
                <iframe
                    src="https://carbon.now.sh/embed/3rpW2rZI5z6XuI6AlWvN"
                    style="border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                </code>
          </div>
        </div>
        <div class="comp-wrapper">
          <h3>Icon Button</h3>
          <div class="content-container">
            <button class="icon-btn">
              <i class="fa-solid fa-cart-shopping-fast font-8"></i>
            </button>
            <button class="icon-btn">
              <i class="fa-solid fa-envelope font-8"></i>
            </button>
          </div>
          <div class="code-container">
            <code><iframe
                src="https://carbon.now.sh/embed/YRcJ6tBup0wcxhyWZti0"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe> </code>
          </div>
        </div>
        <div class="comp-wrapper">
          <h3>Floating Action Button</h3>
          <p class="text-medium">Click on Show to see Floating Action Button</p>
          <div class="content-container">
            <button class="btn" id="toggle-btn">Show</button>
            <button class="btn float-btn" id="float-btn">
                <span><i class="fa-regular fa-cart-plus"></i></span>
                Add to cart
            </button>
        </div> 
          <div class="code-container">
            <code><iframe
                src="https://carbon.now.sh/embed/Fm5LqQYft0rJkFLoHZmL"
                style=" border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe> </code>
          
        </div>
      </main>
      <footer class="footer">
        <div class="footer-item footer-copy">Copyright © 2022 WINSOME-UI.</div>
        <div class="footer-item">
          <div class="footer-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="footer-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="footer-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </footer>
    </div>
    <script src="button.js"></script>
  </body>
</html>
