<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="../../css/winsome.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header-bar">
        <div class="header-item">
          <!-- <div class="header-logo">
            <img src="../../assets/logo.png" alt="logo" />
          </div> -->
          <div class="header-name">WINSOME-UI</div>
        </div>
        <div class="header-item">
          <div class="header-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="header-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="header-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </header>
      <div class="side-bar">
        <nav class="nav-links">
          <a href="/index.html" class="nav-link-item"> Installation </a>
          <a href="/components/Avatar/avatar.html" class="nav-link-item active">
            Avatar
          </a>
          <a href="/components/Alert/alert.html" class="nav-link-item">
            Alert
          </a>
          <a href="/components/Badge/badge.html" class="nav-link-item">
            Badge
          </a>
          <a href="/components/Button/button.html" class="nav-link-item">
            Button
          </a>
          <a href="" class="nav-link-item"> Card </a>
          <a href="" class="nav-link-item"> Image </a>
          <a href="" class="nav-link-item"> Input </a>
        </nav>
      </div>
      <main class="main-body">
        <h2>Avatar</h2>
        <p class="text-medium">Avatars are the profile icons</p>
        <div class="comp-wrapper">
          <h3>Image Avatar</h3>
          <p class="text-regular">
            To include image avatar you need to include 'avatar' class and for
            different sizes you can include 'avatar-lg', 'avatar-md',
            'avatar-sm'.
          </p>
          <div class="content-container">
            <img
              class="avatar avatar-lg"
              src="../../assets/pic1.jpg"
              alt="avatar-1"
            />
            <img
              class="avatar avatar-md"
              src="../../assets/pic2.jpg"
              alt="avatar-2"
            />
            <img
              class="avatar avatar-sm"
              src="../../assets/pic3.jpg"
              alt="avatar-3"
            />
          </div>
          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/w3Ti5UA9LmH0VhAxO6ya"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
          </div>
        </div>
        <div class="comp-wrapper">
          <h3>Text Avatar</h3>
          <p class="text-regular">
            Text avatar is used at places where profile pic of user is
            missing.<br />
            To include text avatar you nedd to include 'avatar-text'.
          </p>
          <div class="content-container">
            <div class="avatar avatar-lg avatar-text text-medium">AD</div>
            <div class="avatar avatar-md avatar-text text-medium">AD</div>
            <div class="avatar avatar-sm avatar-text text-medium">AD</div>
          </div>
          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/HqMGJnd8rtYk5GeAZHN9"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe
            ></code>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-item footer-copy">Copyright © 2022 WINSOME-UI.</div>
        <div class="footer-item">
          <div class="footer-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="footer-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="footer-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
