<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WINSOME-UI</title>
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="/css/winsome.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header-bar">
        <a href="../index.html" class="header-item">
          <img class="header-logo" src="../assets/logo.png" alt="logo" />
          <div class="header-name">WINSOME-UI</div>
        </a>
        <div class="header-item">
          <div class="header-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="header-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="header-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </header>
      <div class="side-bar">
        <nav class="nav-links">
          <a href="main.html" class="nav-link-item active">Installation</a>
          <a href="/components/Avatar/avatar.html" class="nav-link-item">
            Avatar
          </a>
          <a href="/components/Alert/alert.html" class="nav-link-item">Alert</a>
          <a href="/components/Badge/badge.html" class="nav-link-item">Badge</a>
          <a href="/components/Button/button.html" class="nav-link-item">
            Button
          </a>
          <a href="/components/Cards/cards.html" class="nav-link-item">Cards</a>
          <a href="/components/Grid/grid.html" class="nav-link-item"> Grid </a>
          <a href="/components/Image/image.html" class="nav-link-item">Image</a>
          <a href="/components/Input/input.html" class="nav-link-item">Input</a>
          <a href="/components/Lists/lists.html" class="nav-link-item">
            Lists
          </a>
          <a href="/components/Modal/modal.html" class="nav-link-item">
            Modal
          </a>
          <a href="/components/Navigation/navigation.html" class="nav-link-item"
            >Navigation</a
          >
          <a href="/components/Rating/rating.html" class="nav-link-item">
            Rating
          </a>
          <a href="/components/Slider/slider.html" class="nav-link-item">
            Slider
          </a>
          <a href="/components/Snackbar/snackbar.html" class="nav-link-item">
            Snackbar
          </a>
          <a
            href="/components/Typography/typography.html"
            class="nav-link-item"
          >
            Typography
          </a>
        </nav>
      </div>
      <main class="main-body">
        <h3 class="main-heading">
          WINSOME UI is the extensive library of components
        </h3>
        <div class="text-regular">
          This library allows you to ship the components faster as you just have
          to copy and paste the components.
        </div>
        <div class="text-regular">
          You can use any of the components as demonstrated in the
          documentation. Please refer to each component's demo page to see how
          they should be imported.
        </div>
        <h4 class="inst-guide">Installation Guide</h4>
        <div class="text-regular">
          Get Started Today!! Copy the below link and paste it in the head tag
          of your html file.
        </div>
        <div class="code-container">
          <code>
            <iframe
              src="https://carbon.now.sh/embed/5dFMMO2p4nV8PemDHBa4"
              style="border: 0; transform: scale(1); overflow: hidden"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </code>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-item footer-copy">Copyright © 2022 WINSOME-UI.</div>
        <div class="footer-item">
          <div class="footer-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="footer-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="footer-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
