<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drawer</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="../../css/winsome.css" />
  </head>
  <body>
    <div class="header">
      <nav class="nav-bar-drawer" data-visible="true">
        <div class="nav-logo">
          <a href="#">
            <img class="nav-img" src="../../assets/demo-nav-logo.png" />
          </a>
        </div>
        <span class="navToggleBtn"><i class="fas fa-bars"></i></span>
      </nav>
      <ul class="nav-drawer" data-visible="false">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </body>
  <script src="drawer.js"></script>
</html>
