.rating .star-icon {
  font-size: 1.4rem;
  transition: transform 0.2s;
}
.rating .star-icon:hover {
  transform: scale(1.2);
  color: var(--bright-yellow-color);
}
.rating-given {
  color: var(--bright-yellow-color);
}
