<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="../../css/winsome.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header-bar">
        <div class="header-item">
          <!-- <div class="header-logo">
            <img src="../../assets/logo.png" alt="logo" />
          </div> -->
          <div class="header-name">WINSOME-UI</div>
        </div>
        <div class="header-item">
          <div class="header-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="header-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="header-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="header-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </header>
      <div class="side-bar">
        <nav class="nav-links">
          <a href="/index.html" class="nav-link-item">Installation</a>
          <a href="/components/Avatar/avatar.html" class="nav-link-item">
            Avatar
          </a>
          <a href="/components/Alert/alert.html" class="nav-link-item active">
            Alert
          </a>
          <a href="/components/Badge/badge.html" class="nav-link-item">
            Badge
          </a>
          <a href="/components/Button/button.html" class="nav-link-item">
            Button
          </a>
          <a href="" class="nav-link-item">Card</a>
          <a href="" class="nav-link-item">Image</a>
          <a href="" class="nav-link-item">Input</a>
        </nav>
      </div>
      <main class="main-body">
        <h2>Alert</h2>
        <p class="text-medium">
          Alerts are used to attract user's attention for important information
          without interrupting the user's flow.
        </p>
        <div class="comp-wrapper">
          <h3>Basic Alert</h3>
          <p class="text-regular">
            To include Alert in your project, you need to add 'alert' class and
            respective alert type class.
          </p>
          <div class="content-container display-flex-column">
            <div class="alert alert-error">
              <span class="alert-icon">
                <i class="fa-thin fa-circle-exclamation"></i>
              </span>
              This is an error alert — check it out!
            </div>
            <div class="alert alert-warning">
              <span class="alert-icon">
                <i class="fa-light fa-triangle-exclamation"></i>
              </span>
              This is a warning alert — check it out!
            </div>
            <div class="alert alert-info">
              <span class="alert-icon">
                <i class="fa-thin fa-circle-exclamation"></i>
              </span>
              This is an info alert — check it out!
            </div>
            <div class="alert alert-success">
              <span class="alert-icon">
                <i class="fa-thin fa-circle-check"></i>
              </span>
              This is a success alert — check it out!
            </div>
          </div>
          <div class="code-container">
            <code>
              <iframe
                src="https://carbon.now.sh/embed/EyDVZauCOXLmfcvfSmMg"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
          </div>
        </div>
        <div class="comp-wrapper">
          <h3>Alert with close</h3>
          <p class="text-regular">
            To include alert with close, you need to add below classes and
            javascript code as shown in below code snippets.
          </p>
          <div class="content-container">
            <div class="alert alert-info" id="alert-close-box">
              <span class="alert-icon">
                <i class="fa-thin fa-circle-exclamation"></i>
              </span>
              This is an info alert — check it out!
              <span class="alert-close-btn" id="alert-close-btn">
                <i class="fa-solid fa-xmark"></i>
              </span>
            </div>
          </div>
          <div class="code-container">
            <h4>CSS Code Snippet</h4>
            <code>
              <iframe
                src="https://carbon.now.sh/embed/kIGqfhWrxvUJGtkdUrBr"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
            <h4>Javascript Code Snippet</h4>
            <code>
              <iframe
                src="https://carbon.now.sh/embed/OuM7uP1zkuj6DG5lJURY"
                style="border: 0; transform: scale(1); overflow: hidden"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </code>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-item footer-copy">Copyright © 2022 WINSOME-UI.</div>
        <div class="footer-item">
          <div class="footer-icons">
            <a
              href="https://github.com/AnjaliDeshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>

          <div class="footer-icons">
            <a
              href="https://twitter.com/anjali_deshwani"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="footer-icons">
            <a
              href="https://www.linkedin.com/in/anjalideshwani/"
              target="_blank"
              class="footer-link"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </footer>
    </div>
    <script src="alert.js"></script>
  </body>
</html>
